<h2>I like to use APIs in <s>unintended</s> creative ways</h2>
<ul>
    <li>
        <a href="https://github.com/chrisguttandin/standardized-audio-context">standardized-audio-context</a>
    </li>
    <li>
        <a href="https://github.com/chrisguttandin/extendable-media-recorder">extendable-media-recorder</a>
    </li>
    <li>
        <a href="https://github.com/chrisguttandin/timingsrc">timingsrc</a>,
        <a href="https://github.com/chrisguttandin/timing-object">timing-object</a>,
        <a href="https://github.com/chrisguttandin/timing-provider">timing-provider</a>
    </li>
    <li>
        <a href="https://github.com/chrisguttandin/worker-timers">worker-timers</a>,
        <a href="https://github.com/chrisguttandin/audio-context-timers">audio-context-timers</a>
    </li>
    <li><a href="https://github.com/chrisguttandin/web-codecs">web-codecs</a> (?)</li>
</ul>
