@use '@fontsource/montserrat/scss/mixins' as montserrat;

@include montserrat.faces($directory: '@fontsource/montserrat/files/', $subsets: latin latin-ext, $weights: 400 500);

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* https://marcom.purdue.edu/our-brand/visual-identity/ */
    background-color: #000;
    color: #cfb991;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 8vw;
    height: 56.25vw;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    body {
        font-size: 14.222vh;
        height: 100%;
        margin: 0 auto;
        width: 177.777vh;
    }
}

a {
    color: #daaa00;
}

li,
p {
    color: #c4bfc0;
    font-size: 50%;
}

h1 {
    font-size: 100%;
    font-weight: 500;
}

h2 {
    font-size: 80%;
    font-weight: 500;
    letter-spacing: -0.02em;
}

body h1:first-child,
body h2 {
    margin-top: 0;
}

ul {
    margin: 0.5em 0;
    padding: 0 0 0 0.5em;
}

li {
    margin: 0.3em 0;
}

.footnote {
    color: #f8f8f2;
    font-size: 30%;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #272822;
    cursor: pointer;
    height: 20px;
    margin: 0 20px 0 0;
    width: 200px;
}
