<h2>MessagePort</h2>
<ul>
    <li>may introduce an unknown delay</li>
    <li>may generate garbage on the audio thread</li>
    <li>inaccurate when sending few events</li>
    <li>costly when sending more events</li>
    <li>receiver doesn't have to be the main thread</li>
</ul>
<p class="footnote">
    <a href="https://github.com/GoogleChromeLabs/web-audio-samples/tree/main/src/audio-worklet/basic/volume-meter">volume-meter</a>,
    <a href="https://github.com/esonderegger/web-audio-peak-meter">web-audio-peak-meter</a>
</p>
